body {
  padding: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: ;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  display: flexbox;
  flex-direction: row;
  font-family: 'Reenie Beanie', sans-serif;
  line-height: 3rem;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: grey;
  font-weight: lighter;
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
}

.image-grid {
  display: grid;
  gap: 8rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
}

.image-grid-double {
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  column-gap: 1rem;
  row-gap: 8rem;
  margin-bottom: 8rem;
  place-items: center;
}

footer {
  color: rgb(192, 192, 192);
  text-align: end;
  margin-top: 4rem;
}

@media only screen and (max-width: 855px) {
  body {
    padding: 1rem;
    padding-top: 5rem;
  }
  }

p {
  font-family: 'Quicksand', sans-serif;
  color: grey;
  font-weight: lighter;
  font-size: 1.2rem;
  letter-spacing: 0rem;
  text-align: center;
  margin-bottom: 2.5rem;
  line-height: 2rem;
}