body {
  padding: 5rem;
}

header {
  font-family: ;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  display: flexbox;
  flex-direction: row;
  font-family: 'Reenie Beanie', sans-serif;
  line-height: 3rem;
}

footer {
  color: grey;
}

h2 {
  color: grey;
  font-weight: 100;
  font-size: 3rem;
}

.grid-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.image-grid {
  display: grid;
  max-width: fit-content;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.image-container {
  aspect-ratio: 1;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: 0.2s ease-out;
}

.image-container:hover:before {
  content: attr(data-tooltip);
  position: absolute;
  background-color: white;
  bottom: 0%;
  padding: 1rem 0rem;
  text-align: center;
  width: 100%;
  box-shadow: 0rem 0rem 01rem 0rem rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
}

.image-container:hover {
  cursor: pointer;
  scale: 1.02;
  box-shadow: 0.5rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
}

img{
  object-fit: cover;
}

.img-height {
  object-fit: cover;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
.image-grid {
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
}

@media only screen and (max-width: 855px) {
  .image-grid {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  }
  body {
    padding: 0rem;
    padding-top: 5rem;
  }
  }
